USE [GIUAKY]
GO
/****** Object:  Table [dbo].[CAUHOI]    Script Date: 4/1/2022 5:20:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAUHOI](
	[ID_CAUHOI] [int] IDENTITY(1,1) NOT NULL,
	[CAUHOI] [nvarchar](max) NOT NULL,
	[DAPAN] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__CAUHOI__484250D175C417FE] PRIMARY KEY CLUSTERED 
(
	[ID_CAUHOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DAPAN]    Script Date: 4/1/2022 5:20:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAPAN](
	[ID_CAUHOI] [int] NULL,
	[A] [nvarchar](50) NOT NULL,
	[B] [nvarchar](50) NOT NULL,
	[C] [nvarchar](50) NOT NULL,
	[D] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 4/1/2022 5:20:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[USERNAME] [varchar](20) NOT NULL,
	[HOTEN] [nvarchar](30) NOT NULL,
	[PWD] [varchar](20) NOT NULL,
	[LOP] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DAPAN]  WITH CHECK ADD  CONSTRAINT [FK__DSDAPAN__idcauho__276EDEB3] FOREIGN KEY([ID_CAUHOI])
REFERENCES [dbo].[CAUHOI] ([ID_CAUHOI])
GO
ALTER TABLE [dbo].[DAPAN] CHECK CONSTRAINT [FK__DSDAPAN__idcauho__276EDEB3]
GO
